/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.cus-border::after {
    content: '';
    display: block;
    width: 60%;
    top: -5%;
    z-index: -1;
    position: absolute;
    left: 50%;
    height: 110%;
    border: 5px solid black;
}
